POSTGRES_DB=wedding_invitation
POSTGRES_USER=wedding_app
POSTGRES_PASSWORD=wedding_app
DATABASE_URL=postgresql://wedding_app:wedding_app@localhost:5434/wedding_invitation?schema=public
DIRECT_URL=postgresql://wedding_app:wedding_app@localhost:5434/wedding_invitation?schema=public
